#withdraw-token {
    padding: $offset5;
    background: var(--white) !important;

    .ant-row {
        width: inherit !important;
    }

    .ant-segmented {
        background-color: var(--white);

        @mixin ant-segment {
            box-shadow: none;
            border-radius: 8px;
            padding: 12px 0;
        }

        .ant-segmented-item {
            @include ant-segment;
        }

        .ant-segmented-item-selected {
            background: #EDF6FA;
        }

        .ant-segmented-thumb {
            @include ant-segment;
            background: #EDF6FA;
        }
    }

    .ant-input-holder {
        border: 0.5px solid #EFEFF0;
        border-radius: 8px;
        padding: 10px;
    }

    .ant-input-group-wrapper {
        position: relative;
        border: 0.5px solid #EFEFF0;
        border-radius: 8px;

        .ant-input {
            border: none;
            border-radius: 8px;
            padding: 10px;
        }

        .ant-input-group-addon {
            border: none;
            background: #EAF4FB;
            border-radius: 5px;
            color: #5B626E;
            font-weight: 300;
            font-size: 13px;
            line-height: 10px;
            padding: 0 10px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0%, -50%);
            padding: 7px 22px;
            z-index: 9;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: block;
            }
        }
    }

    .withdraw-header {
        display: flex;
        column-gap: $offset2;
        align-items: center;

        span {
            width: 44px;
            height: 44px;
            background: #00CCA0;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            margin-bottom: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 23px;
            line-height: 56px;
        }
    }


    .withdraw-amount {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-transform: capitalize;
        color: #989AA3;
        float: right;
    }

    .withdraw-fee {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-transform: capitalize;
        color: #989AA3;
        float: right;
        margin-top: 7px
    }

    .withdraw-btn-max {
        float: right;
        background: none;
        border-left: 1px solid #E8E5E5;
        border-top: none;
        border-right: none;
        border-bottom: none;
        color: #002EFF;
        font-size: 12px;
        margin: auto 10px;
        cursor: pointer;
        font-weight: 600;
    }


    .withdraw-maxamount {
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #4E4E53;
        margin: auto 3px;
    }

    .withdraw-network {
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0em;
        margin-bottom: 10px;
    }


    .withdraw-label {
        float: left;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0em;
        margin-bottom: 8px;
    }

    .withdraw-card {
        background: var(--white);
        border: 1px solid #F2F2F5;
        box-shadow: 0px 3px 10px rgba(47, 83, 109, 0.03);
        border-radius: 20px;

        .blue-circle-bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    .withdraw-p {
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 25px;
        color: #666D79;

        &.inline {
            display: inline-block;
        }
    }

    .withdraw-button {
        background: #023047;
        color: var(--white);
        font-size: 16px;
        line-height: 26px;
        box-shadow: 0px 4px 14px rgba(47, 83, 109, 0.2);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 23px 12px;
    }

    .withdraw-notice-list {
        list-style: none;
    }

    .withdraw-notice-item {
        margin-bottom: 40px;
    }

    .withdraw-notice-title {
        font-family: Urbanist;
        font-size: 20px;
        font-weight: 600;
        line-height: 10px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        margin-bottom: 27px
    }

    .withdraw-faq-btn {
        border: 1px solid #000000;
        border-radius: 5px;
        color: #000000;
        background: transparent;
        padding: 4px 8px;
        margin-top: 10px;
    }
}
