:root {
  --catskill_white: #f1f4f8;
  --science_blue: #005dd2;
  --medium_teal_blue: #004fba;
  --blue_whale: #023047;
  --mid-grey: #5b626e;
  --star-dust: #989aa3;
  --soft-peach: #efeff0;
  --white: #fff;
}
$offset1: 4px;
$offset2: 8px;
$offset3: 10px;
$offset4: 16px;
$offset5: 24px;
$offset6: 32px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
html {
  min-height: 100%;
  font-size: 12px;
  $white: #fff;
}
body.dark-mode {
  --white: #000;
}
@font-face {
  font-family: "iransans";
  src: url(../fonts/iransans.eot) format("embedded-opentype"), url(../fonts/iransans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  &:lang(fa) {
    body {
      font-family: "iransans" !important;
      text-align: right !important;
    }
  }
  &:lang(ar) {
    body {
      font-family: "iransans" !important;
      text-align: right !important;
    }
  }
}
body {
  min-height: 100vh;
  background-color: #fff;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

@import "./shared";
@import "./auth";
