:root {
  --white: #fff;
  --black: #000;
  --catskill-white: #f1f4f8;
  --science-blue: #005dd2;
  --medium-teal-blue: #004fba;
  --blue-whale: #023047;
  --mid-grey: #5b626e;
  --star-dust: #989aa3;
  --soft-peach: #efeff0;
  --alabaster: #fafafc;
  --white-smoke1: #f4f4f4;
  --white-smoke2: #f5f5f6;
  --mercury: #e8e5e5;
  --cloud: #c4c4c4;
  --sinopia: #d22600;
  --oslo-grey: #8c9097;
  --storm-grey: #6c7689;
  --gainsboro: #dcdcdc;
  --card-bg: #fff;
  --porcelaine: #f2f2f5;
}
body.dark {
  --white: #000;
  --black: #fff;
  --alabaster: #242526;
  --white-smoke2: #5a5c5e;
  --blue-whale: #fff;
  --card-bg: #292c31;
  --porcelaine: #292c31;
}

$offset1: 4px;
$offset2: 8px;
$offset3: 12px;
$offset4: 16px;
$offset5: 24px;
$offset6: 32px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$fs0: 10px;
$fs1: 12px;
$fs2: 14px;
$fs3: 18px;

html {
  min-height: 100%;
  font-size: 12px;
  color: var(--black);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--black);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;800;900&display=swap');

html {
  body {
    font-family: "Urbanist" !important;
  }

  &:lang(ar) {
    body {
      font-family: "Urbanist" !important;
      text-align: right !important;
    }
  }
}

body {
  min-height: 100vh;
  background-color: #fff;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

@import "./shared";
@import "./auth";
@import "./spalsh";
@import "./transaction";
@import "./profile";
@import "./buy-token";
@import "./withdraw";
@import "./crowdsale-schedule";
