#carousel {
    display: flex;
    align-items: center;
    width: calc(100% - 75px);
    .carousel-wrapper {
        min-height: 0;
        min-width: 0;
        .item {
            text-align: center;
            position: relative;
            color: var(--black);
            .period {
                font-weight: 700;
                font-size: 18px;
                color: var(--storm-grey);
            }
            .time-line {
                width: 100%;
                height: 1px;
                margin: $offset4 0;
                display: flex;
                justify-content: center;
                align-items: center;
                &:after {
                    content: "";
                    height: 1px;
                    background-color: var(--gainsboro);
                    width: 100%;
                }
                span {
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: var(--white);
                    border: 1px solid #753ff8;
                }
            }
            .date-range {
                font-weight: 600;
                font-size: 15px;
            }
            .info {
                padding: $offset3 $offset5 0 $offset3;
                .supply {
                    display: flex;
                    justify-content: space-between;
                    padding: $offset2 0;
                    .value {
                        font-weight: 300;
                        font-size: 14px;
                        text-transform: capitalize;
                        color: #000;
                        margin-right: 5px;
                    }
                }
                .token {
                    display: flex;
                    justify-content: space-between;
                    padding: $offset2 0;
                    .token-value {
                        display: flex;
                        align-items: center;
                        .eth {
                            font-weight: 300;
                            font-size: 14px;
                            text-transform: capitalize;
                            color: #000;
                            margin-right: 5px;
                        }
                        svg {
                            padding: 0 $offset1;
                        }
                        .eq {
                            font-weight: 500;
                            font-size: 20px;
                            text-transform: capitalize;
                            color: #8c8c8c;
                            margin: 0 5px;
                        }
                        .price {
                            margin-left: $offset1;
                            background: #eaf4fb;
                            border-radius: 5px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 5px;
                            text-transform: capitalize;
                            color: #3498db;
                            padding: 10px 8px;
                        }
                    }
                }
                .description {
                    text-align: justify;
                    color: var(--mid-grey);
                }
            }
            .content-wrapper {
                height: calc(100vh - 170px);
            }
        }
        .slick-slide {
            opacity: 0.6;
            &.slick-current {
                opacity: 1;
                .time-line {
                    span {
                        width: 15px;
                        height: 15px;
                        background-color: #753ff8;
                        border: none;
                    }
                }
            }
        }
    }
}
