@import "./login";
@import "./recover-password";
#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--catskill-white) url("../../images/auth-bg.svg") no-repeat center center;
    background-size: 100% 100%;
    padding-left: 14%;
    padding-right: 14%;
    .card {
        flex: 1;
        display: flex;
        .content {
            background-color: var(--white);
            border-radius: 0px 20px 20px 0px;
        }
        .slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: var(--science-blue);
            border-radius: 20px 0px 0px 20px;
            padding: $offset5;
            .top-section {
                h1 {
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 38px;
                    color: var(--white);
                    margin-bottom: $offset4;
                }
                .socials {
                    list-style: none;
                    display: flex;
                    li {
                        &:not(:first-child) {
                            margin-left: $offset3;
                        }
                        svg {
                            color: var(--white);
                        }
                    }
                }
            }
            .slide-image {
                max-width: 100%;
                margin-top: $offset4;
            }
        }
    }
    @media (max-width: $sm) {
        background-color: var(--white);
        .slide {
            display: none !important;
        }
    }
}
