@import "./login";
@import "./signup";
@import "./recover-password";
#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--catskill-white) url("../../images/auth-bg.svg") no-repeat center center;
    background-size: 100% 100%;
    padding-left: 14%;
    padding-right: 14%;
    .card {
        flex: 1;
        display: flex;
        .content {
            background-color: var(--white);
            border-radius: 0px 20px 20px 0px;
            padding: $offset5 $offset3;
        }
        .slide {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: var(--science-blue);
            border-radius: 20px 0px 0px 20px;
            padding: $offset5;
            .top-section {
                h1 {
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 38px;
                    color: var(--white);
                    margin-bottom: $offset4;
                }
                .socials {
                    list-style: none;
                    display: flex;
                    li {
                        &:not(:first-child) {
                            margin-left: $offset3;
                        }
                        svg {
                            color: var(--white);
                        }
                    }
                }
            }
            .slide-image {
                max-width: 100%;
                margin-top: $offset4;
            }
        }
    }
    .ant-tabs-ink-bar {
        display: none;
    }
    .ant-tabs-top > .ant-tabs-nav:before {
        display: none;
    }
    .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding: $offset4 0;
        form {
            width: 100%;
        }
    }
    .google-auth {
        margin-bottom: $offset3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            padding: 0 $offset2;
        }
    }
    .redirect {
        text-align: center;
        color: var(--star-dust);
        font-size: $fs1;
    }
    input[type="password"] {
        font-size: 16px !important;
        font-family: arial!important;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: $sm) {
        background-color: var(--white);
        .slide {
            display: none !important;
        }
    }
}
