#login {
    .ant-tabs {
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        max-width: 100%;
        .ant-tabs-nav-list {
            width: 100%;
            justify-content: space-between;
            padding-bottom: $offset4;
            .ant-tabs-tab {
                font-size: 18px;
                padding-top: 0;
                padding-bottom: $offset1;
                &.ant-tabs-tab-active {
                    color: var(--medium-teal-blue);
                    border-bottom: solid 2px var(--medium-teal-blue);
                }
                .ant-tabs-tab-btn {
                    line-height: 38px;
                }
            }
        }
        .ant-tabs-tab + .ant-tabs-tab {
            margin: 0 0 0 32px;
        }
        @media (max-width: $xl) {
            .ant-tabs-tab-btn {
                font-size: 16px;
            }
            .ant-form-item{
                margin-bottom: $offset4;
            }

            .ant-tabs-tab + .ant-tabs-tab {
                margin: 0 0 0 $offset2;
            }
        }
    }
    #auth-by-email {
        padding-bottom: $offset4;
    }
    .remeber-me-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
