  .transaction-modal {
      .transaction-modal-divider {
          text-align: center;
          margin: 0px 0;

          .divider-icon {
              position: relative;
              display: block;

              svg {
                  border-radius: 50%;
                  border: 1px solid #000000;
                  width: 32px;
                  height: 32px;
                  padding: 10px 8px 8px 8px;
                  font-size: 200px;
              }

              &::before,
              &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  transform: translate(0%, -50%);
                  width: 41%;
                  height: 1px;
                  background: #717171;
              }

              &::before {
                  left: 5%;
                  background: linear-gradient(to left, #000000 0%, rgba(113, 113, 113, 0.2) 100%);
              }

              &::after {
                  right: 5%;
                  background: linear-gradient(to right, #000000 0%, rgba(113, 113, 113, 0.2) 100%);
              }
          }
      }


      .token-detail {

          p,
          h3:not(.token-detail-title) {
              margin-bottom: 10px;
          }
      }

      .token-detail-title {
          font-weight: 700;
          font-size: 19px;
          text-transform: capitalize;
          color: #4E4E4F;
      }



      .transaction-title {
          font-weight: 500;
          font-size: 17px;
          text-transform: capitalize;
          color: #4E4E4F;

          &.bold {
              font-weight: bold;
          }
      }

      .transaction-text {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: left;
          text-transform: capitalize;
          color: #000000;
      }
  }