.transaction-header {
    margin-bottom: $offset5;

    .transaction-header-logo {
        display: flex;
        column-gap: $offset2;
        align-items: center;

        h1 {
            margin-bottom: 0;
        }
    }

    .transaction-header-action {
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: $offset1;
    }

    .transaction-header-action-pager {
        display: flex;
        column-gap: $offset2;
        align-items: center;

        h4 {
            margin-bottom: 0;
        }
    }

    .transaction-header-action-filters {
        display: flex;
        column-gap: $offset3;
        margin-top: $offset6;

    }
}