.custom-card {
    background-color: var(--card-bg) !important;
    box-shadow: 0px 3px 10px rgba(47, 83, 109, 0.03) !important;
    border-radius: 20px !important;
    border: 1px solid var(--porcelaine);
    height: 100%;
    padding: $offset5;
    @media (max-width: 1366px) {
        padding: $offset3;
    }
    &.with-bg {
        background-color: var(--white);
        background: url("../../images/blue-circle-bg.svg") no-repeat left top;
        background-size: 60%;
    }
    &.flex-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
