.tbl-general {
  // .ant-table-body {
  //   min-height: calc(100vh - 440px) !important;
  //   overflow: hidden !important;
  // }

  thead[class*="ant-table-thead"] tr {
    color: #5b626e;

    td {
      padding: 12px;
    }

    th {
      background-color: #fff;

      &::before {
        content: none !important;
      }
    }
  }

  tbody[class*="ant-table-tbody"] tr {
    td {
      padding: 12px;
      border: none;

      p {
        margin-bottom: 0;
      }
    }
  }

  .ant-table-ping-right:not(.ant-table-has-fix-right)
    .ant-table-container::after {
    box-shadow: none;
  }

  .ant-table-cell-scrollbar:not([rowspan]) {
    box-shadow: none !important;
  }

  .ant-table-placeholder .ant-table-expanded-row-fixed {
    display: flex !important;
    justify-content: center !important;
    margin-top: 15%;
  }
}
