#change-password {
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
        margin: 0 0 10px 0;
    }

    .button {
        margin: 20px 0;
    }

    .custom-input {
        width: 348px;
        height: 42px;
        font-size: 16px;
        font: small-caption;
    }

    .change-password-button {
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 10px;
    }

    .ant-form-item-label {
        padding: 0
    }
}