#profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    background: var(--catskill_white) no-repeat center center;
    padding: $offset5;
    flex-direction: column;

    .ant-tabs-tab-active {
        font-size: 17px;
        line-height: 10px;
        color: #002EFF;
        border-bottom: 3px solid #002EFF;
    }

    .ant-tabs-tab {
        font-weight: 400;
        font-size: 17px;
        line-height: 10px;
        color: #5B626E;
    }

    .profile-title-image {
        width: 44px;
        height: 44px;
        background: #F45BA4;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
    }

    .profile-title-text {
        
    }

    .profile-title {
        font-weight: 600;
        font-size: 23px;
        display: flex;
        flex-direction: row;
        margin-bottom: 42px
    }

    @import "./changePassword";
    @import "./updateProfile";
    @import "./updateWallet";
}