#update-wallet {
    .descriptions {
        margin-bottom: 25px;

        .description {
            display: flex;
            padding: 0 0 16px 0;

            .icon-box {
                margin-right: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .text-box {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }

    .custom-input {
        height: 42px;
        width: 546px;
    }

    .update-wallet-button {
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 10px;
        width: 239px;
        height: 48px;
    }

    .ant-form-item-label {
        padding: 0
    }
}