#update-wallet {
    .descriptions {
        margin-bottom: 25px;

        .description {
            .text-box {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }

    .custom-input {
        height: 42px;
    }

    .update-wallet-button {
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 10px;
    }
}