#header {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    padding-left: $offset5;
    padding-right: $offset5;
    color: var(--black);
    .user {
        font-weight: 500;
        font-size: 27px;
    }
    .actions {
        display: flex;
        align-items: center;
        > *:not(:last-child) {
            margin-right: $offset3;
        }
        .mode {
            display: flex;
            align-items: center;
            > *:not(:last-child) {
                margin-right: $offset3;
            }
            .mode-name {
                font-weight: 400;
                font-size: 18px;
                color: var(--black);
            }
            .btn-dark{
                svg {
                    stroke: var(--cloud);
                }
                .active {
                    svg {
                        stroke: var(--black);
                    }
                }
            }
        }
        .a-notif {
            position: relative;
            &.active:after {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--sinopia);
                top: 4px;
                right: 3px;
            }
        }
    }
}
html[dir="rtl"] {
    #header {
        .actions {
            .mode {
                margin-left: 0;
                margin-right: $offset2;
            }
        }
    }
}
