#root {
    > .ant-layout {
        min-height: 100vh;
    }
}
#main-layout {
    #menu {
        color: var(--blue-whale);
        position: relative;
        height: 100vh;
        padding-bottom: 110px;
        .ant-menu {
            color: var(--blue-whale);
        }
        .logo {
            display: flex;
            flex-direction: row;
            padding: $offset4 $offset4;
            font-weight: 700;
            font-size: 18px;
            span {
                padding: 0 $offset3;
            }
        }
        > .ant-menu {
            width: calc(100% - 2 * $offset4) !important;
            margin: 0 $offset4;
            border-left: none;
            border-right: none;
            background-color: transparent;
            height: 100%;
            overflow-y: auto;
            @mixin menu-item {
                position: relative;
                padding-top: $offset2;
                padding-bottom: $offset2;
                margin: 0 !important;
                height: auto;
                color: var(--black);
            }
            .ant-menu-sub {
                padding-top: $offset3;
                background-color: transparent;
                > .ant-menu-item {
                    @include menu-item;
                    &:active {
                        background-color: transparent;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 1px;
                        background: var(--star-dust);
                        left: 35px;
                        z-index: 999;
                        opacity: 1;
                        transform: none;
                        border: none;
                        transition: none;
                    }
                    &:last-child {
                        &:after {
                            transform: translateY(-50%);
                        }
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        background: var(--star-dust);
                        width: 5px;
                        left: 35px;
                        height: 1px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .ant-menu-title-content {
                font-size: 15px;
            }
            @mixin active-menu {
                background-color: var(--white-smoke2) !important;
                border-radius: 8px;
                color: var(--blue-whale);
                font-weight: 600;
            }
            > .ant-menu-submenu{
                .ant-menu-submenu-title {
                    padding-top: $offset2;
                    padding-bottom: $offset2;
                    height: 56px;
                }
                &.ant-menu-submenu-selected {
                    color: var(--blue-whale);
                    .ant-menu-submenu-title {
                        @include active-menu();
                    }
                    .ant-menu-sub {
                        .ant-menu-title-content {
                            font-size: 14px;
                        }
                        .ant-menu-item-selected {
                            font-weight: 600;
                            background-color: transparent;
                        }
                    }
                }
            }
            > .ant-menu-item-selected {
                @include active-menu();
                &:after {
                    display: none;
                }
            }
        
            // .ant-menu-item-selected {

            //     &:after {
            //         display: none;
            //     }
            // }
            .ant-menu-submenu-title:hover {
                background-color: var(--white-smoke2) !important;
            }
            > .ant-menu-item {
                @include menu-item;
            }
        }
    }
    .ant-layout-sider {
        background-color: var(--alabaster);
        border-right: solid 1px var(--white-smoke1);
    }
    .profile {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: $offset3 $offset4;
        background-color: var(--alabaster);
        .title {
            color: var(--star-dust);
            font-weight: 500;
            font-size: 15px;
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .user {
                display: flex;
                align-items: center;
                .info {
                    display: flex;
                    flex-direction: column;
                    color: var(--balck);
                    margin: 0 $offset3;
                    max-width: 115px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .name {
                        font-weight: 700;
                        font-size: 13px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .email {
                        font-weight: 400;
                        font-size: 13px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    @media(max-width:1400px){
                        max-width: 100px;
                    }
                }
            }
        }
    }
}
