#dashboard {
    padding: $offset5 $offset5 $offset3 $offset5;
    min-height: 100%;

    > .ant-row {
        min-height: 100%;
    }

    .sec-title {
        font-weight: 600;
        font-size: 18px;
        color: var(--black);
        line-height: 56px;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        // @media (max-width: 1400px) {
        //     font-size: 13px;
        // }
    }
    .ant-table-thead > tr > th {
        padding: $offset2 $offset1;
    }
    .ant-table-tbody > tr > td {
        padding: $offset2 $offset1 !important;
    }
    .transactions{
        .head-section{
            margin-bottom: $offset2;
        }
    }
    @import "./balance";
    @import "./exchange-list";
    @import "./crowdsale";

    @media (min-width: $xl) {
        .ant-table-body {
            min-height: calc(100vh - 500px) !important;
        }
    }

    @media (max-width: $xl) {
        .ant-table-body {
            min-height: calc(100vh - 465px) !important;
        }
    }
}
