#buy-form {
    .buy-button {
        line-height: 48px !important;
        margin-top: 20px;
    }
    .ant-segmented {
        background-color: var(--white);

        @mixin ant-segment {
            box-shadow: none;
            border-radius: 8px;
            padding: 12px 0;
        }

        .ant-segmented-item {
            @include ant-segment;
            transition: 0.3s;

            &:hover {
                background: #f5f5f5;
            }
        }

        .ant-segmented-item-selected {
            background: #edf6fa;
        }

        .ant-segmented-thumb {
            @include ant-segment;
            background: #edf6fa;
        }
    }
    .buy-card {

        .blue-circle-bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    .buy-p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 25px;
        color: #5B626E;

        &.inline {
            display: inline;
        }

        &.small {
            font-size: 13px;
        }
    }
}